---
BasedOnStyle: Google
ColumnLimit: 0
AlignTrailingComments: false
DerivePointerAlignment: false
AlwaysBreakBeforeMultilineStrings: false
AccessModifierOffset: -2
SortIncludes: false
ObjCSpaceBeforeProtocolList: true
---
Language: Cpp
---
Language: ObjC
...
